<p>Product Registration</p>

<form #productForm="ngForm" (ngSubmit)="addProduct()">
    <table class=".table-striped-columns">
        <tr>
            <td>Enter Product Id </td>
            <td><input type="number" [(ngModel)]="product.id" name="
pid" required/></td>
        </tr>
        <tr>
            <td>Enter Produt Name </td>
            <td><input type="text" [(ngModel)]="product.name" 
name="pname" required/></td>
        </tr>
        <tr>
            <td>Enter Produt Price </td>
            <td><input type="number" [(ngModel)]="product.price" 
name="price" required/></td>
        </tr>
    </table>


<button type="submit" [disabled]="!productForm.form.valid">Add Product</button>


</form>
